@import "../../../../../theme/vars/palette.less";

/* StartLesson less */

.start-lesson {
  padding: 100px 0;
  text-align: center;
  h1 {
    font-weight: normal;
  }
  .ant-btn {
    font-size: 25px;
    height: 50px;
    padding: 0 35px;
    margin: 10px 0 30px;
    font-weight: lighter;
  }
  .start-lesson-progress {
    .ant-progress-inner {
      background: #ddd;
    }
  }
}
