/* EmptyState less */

@import "../../theme/vars/palette.less";

.empty-state {
  text-align: center;
  padding: 100px 50px 50px;
  > .anticon {
    font-size: 100px;
  }
  h3 {
    font-weight: normal;
    margin: 20px 0;
  }
}
