/* LessonHeader less */

@import "../../../theme/vars/palette.less";

.lesson-view .ant-layout-header {
  background: @blue;
  overflow: hidden;
  .lesson-header {
    background: @blue;
    > * {
      background: transparent;
    }
    h3,
    h4,
    a {
      color: white;
      margin-bottom: 0;
    }
    .control-title {
      height: 64px;
      h3,
      h4 {
        line-height: 20px;
      }
    }
  }
}
