@import (reference) "../../../../theme/mixins";
@import "../../../../theme/vars/vars.less";

/* TaskDetails less */

.task-details {
  padding: 12px 24px;
  background: white;
  margin: 0 -24px;
  .task-dot {
    margin-right: 15px;
  }

  &:not(.first) {
    border-top: 1px solid #e3e3e3;
  }
  &.dragging {
    border-top: none;
    padding: 12px;
    box-shadow: @z-shadow-1;
  }
  .task-details-inner {
    width: 100%;
  }
  &:hover {
    .actions {
      opacity: 1;
    }
  }
  .actions {
    opacity: 0;
    transition: opacity 0.15s;
    .anticon {
      cursor: pointer;
      font-size: 18px;
      margin-left: 20px;
    }
  }
  .type-selector {
    min-width: 165px !important;
  }
}
