/* ClassStudentSettings less */

.class-student-settings {
  .actions {
    margin: 30px 0 20px;
    .ant-btn:not(:last-child) {
      margin-right: 10px;
    }
  }
  .ant-card {
    .ant-card-body {
      padding: 0;
    }
  }
  .ant-table-tbody > tr {
    &:hover > td {
      background: none;
    }
    &.ant-table-row-selected {
      &:hover > td {
        background: #fafafa;
      }
    }
  }
}
