@import (reference) "../../theme/mixins";
@import "../../theme/vars/vars.less";

/* TaskDot less */

@size: 28;

.task-dot {
  overflow: visible;
  .flex-center;
  display: inline-flex;
  .ant-avatar-string {
    transform: none !important;
    position: static !important;
  }

  &.active {
    background-color: @primary-color;
    .rect(22px);
    &:after {
      @offset: -4px;
      border: 2px solid @primary-color;
      border-radius: 99px;
      position: absolute;
      bottom: @offset;
      right: @offset;
      display: block;
      left: @offset;
      top: @offset;
      content: "";
    }
  }
  &.completed {
    background: @green;
    &:after {
      border-color: @green;
    }
  }
}
