@import (reference) "../../theme/mixins";
@import "../../theme/vars/vars.less";

/* TaskDot less */

@size: 24;

.resize (@s) {
  height: unit(@s, px);
  width: unit(@s, px);
  line-height: unit(@s, px);
  font-size: unit(@s / 2, px);
}

.task-dot {
  .resize(@size);
  position: relative;
  display: inline-block;
  svg {
    .absoluteCenter;
    > * {
      fill: #ccc;
    }
  }
  .number {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }
  &.completed {
    svg > * {
      fill: @green;
      stroke-width: 0;
    }
  }
  &.active {
    svg,
    .number {
      transform: scale(1.3);
    }
    svg > * {
      stroke: @blue;
      stroke-width: 15px;
    }
  }

  &.dark {
    svg > * {
      background: lighten(white, 50);
    }
    &.active {
      svg > * {
        stroke: white;
        stroke-width: 15px;
      }
    }
  }

  &.multiple {
    @size: 13px;
    height: unit(@size, px);
    width: unit(@size, px);
    line-height: unit(@size, px);
    font-size: unit(@size / 2, px);
    margin: 0 5px;
    &.has-number {
      @size: 20px;
      height: unit(@size, px);
      width: unit(@size, px);
      line-height: unit(@size, px);
      font-size: unit(@size / 2 + 1, px);
      margin: 0 7px;
    }
  }
}
