/* CourseCard less */

.course-card {
  border-radius: 5px;

  overflow: hidden;
  margin: 12px auto;

  .course-description {
    overflow: hidden;
    max-height: 4rem;
    margin-bottom: 15px;
  }
}
