@import "../vars/palette.less";

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: lighten(@blue, 9);
  border-color: rgba(0, 0, 0, 0.1);
}

.ant-btn.rounded {
  border-radius: 99px;
}

.btn-color(@color) {
  background-color: @color;
  border-color: @color;
}

.new-primary-btn(@color, @class) {
  .ant-btn {
    &-primary.@{class} {
      .btn-color(@color);
      color: white;
      &:hover,
      &:focus {
        .btn-color(lighten(@color, 5));
      }
      &:active {
        .btn-color(darken(@color, 7));
      }
      &.ant-btn-background-ghost {
        color: @color;
        &:hover,
        &:focus {
          color: lighten(@color, 5);
        }
        &:active {
          color: darken(@color, 7);
        }
      }
    }
    &-clicked.@{class}:after {
      border-color: @color;
    }
  }
}

@class: secondary;
@green-class: green;
.new-primary-btn(@pink, @class);
.new-primary-btn(@green, @green-class);
