.ant-menu-item {
  display: flex;
  align-items: center;
}

.ant-menu-vertical,
.ant-menu-inline {
  .ant-menu-submenu-title {
    padding-right: 33px;
  }
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 7px 12px;
}

.ant-menu-vertical-right {
  .ant-menu-submenu-title {
    padding-left: 33px;
  }
}

.ant-dropdown-menu-light {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ant-dropdown-menu-submenu-title {
  font-weight: bolder;
}
