@import "theme/index.less";

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  font-weight: 100;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: 600;
}

.main-col {
  margin: 0 auto;
  padding: 30px 50px;
  max-width: 1100px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-pointer {
  pointer-events: none;
}

.scroller {
  overflow-y: auto;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
