/* ClassList less */

.school-menu {
  margin: -10px 20px 0;
  width: 100%;
}

.class-item {
  .class-actions {
    opacity: 0;
    transition: opacity 0.15s;
  }
  &:hover,
  &.ant-menu-item-selected {
    .class-actions {
      opacity: 1;
    }
  }
}

.class-list .ant-menu-inline {
  .class-item {
    padding-left: 24px !important;
  }
  .ant-menu-submenu-title {
    padding-right: 10px;
    margin: -1px 0 0;
    border: 1px solid #eee;
    border-width: 1px 0;
    .ant-menu-submenu-arrow {
      display: none;
    }
  }
}
