/* ClassList less */

.school-menu {
  margin: -10px 20px 0;
  width: 100%;
}

.class-item {
  .class-actions {
    opacity: 0;
    transition: opacity 0.15s;
  }
  &:hover,
  &.ant-menu-item-selected {
    .class-actions {
      opacity: 1;
    }
  }
}

.class-list .ant-menu-inline {
  .class-item {
    padding-left: 30px !important;
  }
  .ant-menu-submenu-title {
    padding-right: 10px;
    margin: -1px 0 0;
    border: 1px solid #eee;
    border-width: 1px 0;
    padding-left: 30px !important;
    color: rgba(0, 0, 0, 0.65);
    .ant-menu-submenu-arrow {
      left: 12px;
      &:before,
      &:after {
        background: rgba(0, 0, 0, 0.65);
      }
    }
    // .add-class-button {
    //   opacity: 0;
    // }

    // &:hover .add-class-button {
    //   opacity: 1;
    // }
  }
}
