@import "../../../../theme/vars/palette.less";

/* LessonControls less */

.lesson-controls {
  a {
    color: white;
    font-size: 17px;
    &[disabled] {
      opacity: 0.5;
    }
  }
  .next-btn {
    width: 112px;
  }
  .ant-btn {
    // box-shadow: 0 1px 1px fade(black, 10);
    // font-size: 17px;
    // height: 38px;
    // letter-spacing: 1px;
    // width: 112px;
  }
}

@size: 19px;

.dots {
  padding: 0 15px;
  .dot-wrap {
    position: relative;
  }
  .dot-arrow {
    border: 9px solid transparent;
    border-bottom-color: white;
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 0;
    right: 0;
    margin: auto;
  }
}
